.overlay {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, .4);
  cursor: pointer;
  
  z-index: 1000;
}

.modal {
  padding: 1rem;
  min-width: 300px;
  height: auto;
  background-color: var(--background-color-main);
  border-radius: 4px;

  color: var(--primary-color);
  cursor: default;
  overflow-y: auto;
}

.modal__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: .5rem;
}

.modal__content {
  margin: .5rem 0;
  max-height: 80vh;
}