.textarea {
  width: 100%;
  height: 150px;
  padding: .2rem 0.5rem;

  border: 2px solid var(--primary-color);
  border-radius: 5px;
  background-color: transparent;
  color: var(--primary-color);
  font-weight: 500;
  font-size: .9rem;
}

.textarea:focus {
  outline: 1px solid var(--primary-color);
}

.label {
  display: block;

  color: var(--primary-color);
  font-weight: 500;
  font-size: .9rem;
  margin-bottom: .25rem;
}